.App {
  margin-top: 50px;
  text-align: center;
}

.filtersMargin {
  margin-right: 5px;
}

.boldFont {
  font-weight: bold;
}

.todo-item {
  border: 2px solid black;
  padding: 10px;
  text-align: left;
}

.todo-buttons {
  margin-right: 10px;
}
